@model MVC2.Models.Movie

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div class="row">
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div class="row">
	<div class="col-md-12">
        <div class="col-md-6">
            <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-danger" style="width: 100%;" >Edit</a>
    	</div>
    	<div class="col-md-6">
            <a asp-action="Index" class="btn btn-success" style="width: 100%;" >Back to List</a>
    	</div>
	</div>
</div>
